.mat-accordion {
  .mat-expansion-panel {
    margin-bottom: 10px;

    .mat-expansion-panel-header {
      background: #007fff;
      .mat-expansion-panel-header-title {
        color: white;
        font-size: 16px;
      }
    }


  }

}


