.container-fluid {
  position: relative;
}
.navbar-brand {
  font-family: "Butler Bold", sans-serif;
  font-size: 28px;
  padding: 0;
  line-height: 1;
}
.list {
  position: absolute;
  top: 1px;
  left: 58px;
  height: 65%;
}

.nav-link {
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  letter-spacing: 0.7px;
}
.nav-link.active {
  font-family:  MullerBold, sans-serif;
}
