<header>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <img class="list" src="./assets/images/list1.png" alt="tea list">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link" aria-current="page" [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
          <a class="nav-link" [routerLink]="'/products'" routerLinkActive="active" (click)="clearS()">Каталог</a>
        </div>
        <form class="d-flex ms-auto" role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск" formControlName="searchQuery">
          <button class="btn btn-primary" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
</header>
